.content-home > .container > hr {
  // border-top: 1px solid $main-text-color;
}

.content-home > .container-fluid > hr {
  // border-top: 1px solid $main-text-color;
}

.banner {
  color: $main-text-color;
  text-align: left;
  height: calc(70vh - 70px);
  background-size: cover !important;
  background-image: asset-data-url('banner-home.jpg');
  display: flex;
  align-items: center;
  justify-content: left;
}
.banner h3 {
  font-size: 30px;
  font-weight: bold;
  // text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.fa-arrow-alt-circle-down {
  color: white;
  font-size:40px;
  position: absolute;
  right:0;
  margin-right:10px;
  // padding: 20px;
}

.description-home h3 {
  font-size: 24px;
  font-weight: bold;
}

.banner p {
  font-size: 18px;
  font-weight: normal;
  color: $main-text-color;
  margin-bottom: 125px;
}

form p {
  color: $main-text-color !important;
  font-weight: bold !important;
  margin-bottom:5px !important;
}

#home-search {
  border-radius: 3px;
  width: 500px;
}

// #home-search-text {
// color:$main-text-color;
// position: absolute;
// right: 0;
// }

.btn-search-home {
  height: 44px;
  font-weight:bold;
  font-size: 16px;
}

.flex-cards-home {
  display: flex;
  align-items: left;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

.flex-cards-description-home {
  display: flex;
  align-items: left;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-spacing-home {
  margin-right: 15px;
}
