.form-standard {
  background:rgb(255, 255, 255) none repeat scroll 0% 0%;
  padding: 10px 20px;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.45);
  margin-top:20px;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
}

.form-standard:hover {
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.45);
  transition: all 0.5s ease-in-out;
}

.form-search {
  // height: 90%;
  // width: 50%;
  background:rgb(255, 255, 255) none repeat scroll 0% 0%;
  border-radius: 4px;
  padding: 32px;
  transition: all 0.5s ease-in-out;
}

.form-search:hover {
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.45);
  transition: all 0.5s ease-in-out;
}


.form-search-mobile {
  // height: 90%;
  // width: 50%;
  background:rgb(255, 255, 255) none repeat scroll 0% 0%;
  padding: 32px;
  transition: all 0.5s ease-in-out;
}

.form-messages {
  // height: 90%;
  // width: 50%;
  background:#eee;
  padding: 32px;
  transition: all 0.5s ease-in-out;
}

.btn-search-home {
  height: 44px;
  font-weight:bold;
  font-size: 16px;
}
