@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');
$main-text-color: rgb(72, 72, 72);

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', Arial, sans-serif !important;
    padding-right: 0 !important;
    color: $main-text-color;
}
.content {
  min-height: calc(100vh - 170px);
}

h1, h2, h3 { margin-top: 20px;}

.container {
  margin-bottom: 20px;
}

.container h1 {
  font-size:35px;
}

.container-fluid h1 {
  font-size:35px;
}

.flex {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-around {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.flex-evenly {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.flex-center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}


.flex h1 {
  margin-bottom:0px;
}

.hidden {
  visibility: hidden;
}

.arrow {
  bottom:0;
  position:absolute;
  font-size:60px;
  color:white;
}

.standard-hover-shadow {
  transition: all 0.5s ease-in-out;
}

.standard-hover-shadow:hover {
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.45);
  transition: all 0.5s ease-in-out;
}
