.border-vos-echanges {
  padding:10px;
  border:1px solid #eee;
  border-radius: 3px;
}

#parent-echange-demande > .nav-link.active.show{
  color: white !important;
}

p.echange-tab-title {
  margin:0;
  padding:0;
  font-weight:bold;
}

hr.echange-tab-title {
  margin-top:0;
}
